%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, url: sign_in_path, right: 'col-sm-6' do |f|
        %header
          %h1 Sign in
        %fieldset
          .row
            .col-sm-4
              = f.email_field :email, label: 'Email Address'
          .row
            .col-sm-4
              = f.password_field :password
          = f.submit 'Sign in', class: 'btn btn-primary'
          = link_to 'Back', root_path, class: 'btn btn-default'
          = link_to 'Forget Password?', forgot_password_path, class: 'btn btn-link'