%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, style: :horizontal, right: 'col-sm-6' do |f|
        = hidden_field_tag :invitor, params[:invitor]
        %header
          %h1 Register
        %fieldset
          = f.alert_message 'Please fix the error below.'
          = f.email_field :email, label: 'Email Address'
          = f.password_field :password
          = f.text_field :full_name
          = hidden_field_tag :invitation_token, @invitation_token
        = f.form_group do
          %script(src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="#{ENV['STRIPE_PUBLISHABLE_KEY']}" data-name="MyFLiX" data-description="$9.99 for year fee" data-amount="999")
          = link_to 'Back', root_path, class: 'btn btn-default'